.theme-switcher__title {
    margin-right: 1.75em;
    margin-bottom: 0.42em;
    align-self: flex-end;
}

.theme-switcher__header {
    padding: 0.42em;

    text-align: center;
}

.theme-switcher__button-position {
    width: 1rem;
}

.theme-switcher__body {
    position: relative;

    width: 4.44rem;
    min-height: 1.63rem;

    padding: 0.42em;
    border-radius: 1.08em;

    cursor: pointer;
    background-color: var(--clr-keypad-bk);
}

.theme-switcher__button {
    opacity: 0;
    cursor: pointer;
}

.theme-switcher__button,
.theme-switcher__slider {
    width: 1rem;
    height: 1rem;
}

.theme-switcher__slider {
    position: absolute;

    border-radius: 50%;

    background-color: var(--clr-swither-equal-key-bk);

    transition: all 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--clr-swither-equal-key-bk-hover);
    }
}
