$theme-neutral: (
    primary: (
        main-bk: hsl(221, 27%, 31%),
        keypad-bk: hsl(223, 31%, 20%),
        screen-bk: hsl(224, 36%, 15%),
    ),
    secondary: (
        swither-equal-key-bk: hsl(6, 63%, 50%),
        swither-equal-key-bk-hover: hsl(6, 93%, 67%),
        swither-equal-key-shd: hsl(6, 70%, 34%),
        main-key-bk: hsl(30, 25%, 89%),
        main-key-bk-hover: hsl(60, 100%, 100%),
        main-key-shd: hsl(28, 16%, 65%),
        reset-del-key-bk: hsl(225, 21%, 49%),
        reset-del-key-bk-hover: hsl(225, 51%, 76%),
        reset-del-key-shd: hsl(224, 28%, 35%),
    ),
    neutral: (
        txt-100: hsl(221, 14%, 31%),
        txt-900: hsl(0, 100%, 100%),
    ),
);

$theme-light: (
    primary: (
        main-bk: hsl(0, 0%, 90%),
        keypad-bk: hsl(0, 5%, 81%),
        screen-bk: hsl(0, 0%, 93%),
    ),
    secondary: (
        swither-equal-key-bk: hsl(25, 98%, 40%),
        swither-equal-key-bk-hover: hsl(25, 100%, 61%),
        swither-equal-key-shd: hsl(25, 99%, 27%),
        main-key-bk: hsl(45, 7%, 89%),
        main-key-bk-hover: hsl(0, 100%, 100%),
        main-key-shd: hsl(35, 11%, 61%),
        reset-del-key-bk: hsl(185, 42%, 37%),
        reset-del-key-bk-hover: hsl(185, 40%, 56%),
        reset-del-key-shd: hsl(185, 58%, 25%),
    ),
    neutral: (
        txt-100: hsl(60, 10%, 19%),
        txt-900: hsl(0, 100%, 100%),
    ),
);

$theme-dark: (
    primary: (
        main-bk: hsl(268, 75%, 9%),
        keypad-bk: hsl(268, 71%, 12%),
        screen-bk: hsl(268, 71%, 12%),
    ),
    secondary: (
        swither-equal-key-bk: hsl(176, 100%, 44%),
        swither-equal-key-bk-hover: hsl(176, 100%, 79%),
        swither-equal-key-shd: hsl(177, 92%, 70%),
        main-key-bk: hsl(268, 47%, 21%),
        main-key-bk-hover: hsl(268, 54%, 44%),
        main-key-shd: hsl(290, 70%, 36%),
        reset-del-key-bk: hsl(281, 89%, 26%),
        reset-del-key-bk-hover: hsl(280, 56%, 44%),
        reset-del-key-shd: hsl(285, 91%, 52%),
    ),
    neutral: (
        txt-100: hsl(52, 100%, 62%),
        txt-900: hsl(0, 100%, 100%),
    ),
);
