$type-scale: (
    small: (
        100: 0.75rem,
        // 12px
        500: 1rem,
        // 16px
        800: 1.75rem,
        // 28px
        900: 2rem,
        // 32px
    ),
    large: (
        100: 0.75rem,
        // 12px
        500: 1.25rem,
        // 20px
        800: 2rem,
        // 32px
        900: 3rem,
        // 48px
    ),
);
