@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities' as *;
@use 'components' as *;

html {
    background-color: var(--clr-main-bk);

    &[data-theme="neutral"] {
        body {
            color: var(--clr-txt-900);
        }
    }

    &[data-theme="light"],
    &[data-theme="dark"] {
        body {
            color: var(--clr-txt-100);
        }
    }
}

body {
    padding-bottom: 1.5em;
}

header {
    margin-top: 0.88em;
    margin-bottom: 1em;
}
