@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities' as *;
@use 'components' as *;

html {
    &[data-theme="neutral"] {
        body {
            color: var(--clr-txt-900);
        }
    }

    &[data-theme="neutral"],
    &[data-theme="light"] {
        background-color: var(--clr-main-bk);
    }

    &[data-theme="light"],
    &[data-theme="dark"] {
        body {
            color: var(--clr-txt-100);
        }
    }
}

header {
    margin-top: 0.88em;
    margin-bottom: 1em;
}

@media (prefers-color-scheme: light) {
    :root {
        @include spread-map($theme-light);

        color: var(--clr-txt-100);
        background-color: var(--clr-main-bk);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include spread-map($theme-dark);

        body {
            color: var(--clr-txt-100);
            background-color: var(--clr-main-bk);
        }
    }
}
