@use 'font-face' as *;
@use 'abstracts' as *;

body {
    font-family: "Spartan";
    font-size: var(--fs-800);
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: var(--fs-800);
}

.theme-switcher {
    * {
        font-size: var(--fs-100);
    }
}

.theme-switcher__description {
    text-transform: uppercase;
    letter-spacing: 0.083em;
}

.calc__display {
    font-size: var(--fs-900);
}

.calc__key--type--reset,
.calc__key--type--delete {
    font-size: var(--fs-500);
}
